/* Font */
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap');

body.theme-default {
    font-family: 'Overlock', sans-serif !important;

    /* Background image */
    background: url("https://i.pinimg.com/1200x/6e/b5/36/6eb5368fd6611526f8d69411116e988e.jpg") no-repeat center center fixed !important;
    background-size: cover !important;
}

/* Foreground box */
.row.justify-content-end {
    background-color: rgba(0, 0, 0, 0.6) !important; /* translucent dark grey */
    color: #ffffff !important; /* white text */
    border-radius: 12px !important;
    padding: 20px !important;
}
