@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap');
* { cursor: url(''), auto !important; } a:hover, img:hover { cursor: url(''), auto !important;}
:root{
--or2: #baf1b2;
--wh: #ffffff;
--bei: #d8f5d4;
--or: #82cb77;
--pi: #b36b6b;
--pi2: #d69387;
--gr: #adeec9;
--gr2: #8bd1aa;
--font: "Overlock", sans serif;}
.alert {
	background: var(--gr);
	border-radius: 25px;
	border: 2px solid var(--gr2);
	color: var(--wh);
	text-shadow: 0 0 2px var(--gr2);
	margin-top: 1rem;
}
#header > nav.navbar.navbar-status.navbar-expand > div > button {color: var(--wh)!important;}
#header > nav.navbar.navbar-status.navbar-expand > div > button:focus {box-shadow: none;}
#header .navbar-main {
	background-color: var(--gr);
	margin-top:1.5rem;
	border-radius: 30px 30px 0px 0px;
}
#header .navbar-main a i { font-size: 0!important;}
#header .navbar-main a {
	color: var(--bei)!important;
	transition: .2s ease-in-out;
	text-shadow: 0 0 2px var(--or);
	text-transform: lowercase!important;
}
#header .navbar-main a i { 
	color: var(--gr2)!important;
	text-shadow: 0 0 2px var(--or);
	transition: .2s ease-in-out;
}
#header .navbar-main a:hover, #header .navbar-main a:hover i, a:hover {
	color: var(--wh) !important;
	text-shadow: 0 0 2px var(--wh);
	transition: .2s ease-in-out;
	text-decoration: none;
}
#header .navbar-main a i:after {
	font-size: .875rem;
	font-family: 'Font Awesome 5 Free';
	content: '\f7ff' !important;
}
#header .navbar-status {
	border-radius: 0px 0px 30px 30px;
	background-color: var(--gr2);
	border-top: 5px groove var(--gr);
	font-size: 13px;
	text-transform: lowercase;
}
#header .navbar-status a {
	color: var(--wh)!important;
	text-shadow: 0 0 2px var(--or);
}
#header .navbar-status .nav-item:last-child .nav-link { margin-right: 1rem;}
#header .breadcrumb-nav {visibility: hidden;}
.navbar-expand-lg .navbar-collapse {margin-left:3rem;}
.justify-content-between.mb-3 div { border: none !important; }
#header .breadcrumb-nav #bookmarkPage {
	display: flex;
    visibility: visible;
    position: fixed;
    top: 15px;
    right: 15px;
    color: var(--gr2)!important;}
#main:before {
	position: absolute;
	font-family: 'Overlock', var(--font);
	content:'';
	color: var(--wh);
	visibility: visible;
	font-size: 9px;
	right: 20px;
	top: 12px;
	z-index: 1;
}
a, .d-lg-inline, #lblCharacterCounter {
	color: var(--bei)!important;
	text-shadow: 0 0 2px var(--or);
	transition: .2s ease-in-out;
}
.progress {background:rgb(255 255 255 / 29%)!important;border-radius:100px;margin-bottom:2px;}
.bg-warning, .bg-danger, .bg-info, .bg-success, .bg-primary {background:linear-gradient(90deg, var(--gr), var(--gr2))!important;border-radius:100px;border:1px solid var(--gr2);}
body {
	background-image: url('https://i.pinimg.com/1200x/6e/b5/36/6eb5368fd6611526f8d69411116e988e.jpg');
	background-size: contain;background-repeat: repeat-x;
	font-family: var(--font);
}
#main {
	background: #00000099;
	border-radius: 20px;
	color: #ffffff !important;
	padding: 20px;
}
#main h1 {text-align: center;color: var(--wh);text-shadow: 0 0 2px var(--or);}
#main h1:before, #main h1:after{font-family: 'Font Awesome 5 Free';content:'\f7ff';font-size: 12px;margin: 1rem;}
#sidebar {background: transparent;}
#sidebar .card {
	background: var(--gr);
	border-radius: 20px;
	border-bottom: none;
	color: var(--wh);
}
.w-50 > a img {
	border-radius: 100px 100px 100px 0px;
	border: 2px solid var(--wh);
}
.w-50 div a img {
	border-radius: 100px 100px 0px 100px;
	border: 2px solid var(--wh);
}
#main .nav-link {
	font-size: 0;
}
#main .nav-link[href*='/profile/']:after { content: '\f007'; font-family: 'Font Awesome 5 Free'; font-size: 14px; padding-right: 15px;}
#main .nav-link[href*='/den/']:after { content: '\f015'; font-family: 'Font Awesome 5 Free'; font-size: 14px;}
.nav-tabs {
	justify-content: center;
	border: none;
}
.nav-tabs .nav-link.active {
	border: none;
	background-color: transparent;
	color: var(--wh)!important;
	border-radius: 30px;
	text-transform: lowercase;
}
.nav-tabs .nav-link {
	border: none;
	background-color: transparent;
	color: var(--wh)!important;
	border-radius: 30px;
	text-transform: lowercase;
}
.card-title:before {content:'\f7ff';font-family:'Font Awesome 5 Free';font-size:12px;padding:6px;}
.btn-primary, .btn-success, .btn-danger, .btn-warning, .btn-primary, .btn-info {
	background: var(--gr);
	border: none;
	border-radius: 30px;
	border: 2px solid var(--gr2);
}
.btn-primary:hover, .btn-success:hover, .btn-danger:hover, .btn-warning:hover, .btn-primary:hover, .btn-info:hover
.btn-primary:focus, .btn-success:focus, .btn-danger:focus, .btn-warning:focus, .btn-primary:focus, .btn-info:focus {
	background: var(--gr2)!important;
	border: none!important;
	border-radius: 30px!important;
	border: 2px solid var(--gr2)!important;
	text-shadow: 0 0 2px var(--wh)!important;
	color: var(--wh)!important;
	box-shadow: none!important;
}
.table th, .table th a, .table, .table a {
	color: var(--wh)!important;
	text-align: center;
}
.table th {
	background: var(--gr);
	border-radius: 20px 20px 0px 0px;
	border-bottom: 5px groove var(--gr);
}
.table {
	background: var(--gr2);
	border-radius: 20px;
	border: none;
}
.table-striped tbody tr:nth-of-type(odd) {
	background: transparent;
}
.border-none .card img, #main > table.table.table-striped.border-none.mt-3.mb-0 > tbody > tr:nth-child(2) > td > div.col-xl-3.col-sm-5.order-xl-12.order-4.text-center.text-break.featured-wolf > a:nth-child(3) > img,
img.rounded-bottom {
	border-radius:100%!important;
}
#chatMessageContainer {
	color: var(--wh);
	border: 2px solid var(--gr);
}
.s-chat-message {background: var(--or2)!important;}
#chatMessagePinned{background-color: var(--gr)!important;border-bottom:none!important;}
#chatMessagePinned.s-chat-message__pinned .s-chat-message_content{color:var(--gr2);}
#chatMessagePinned.s-chat-message__pinned .s-chat-message_content a{color:var(--wh)!important;}
.s-chat-sidebar #label_currentChannel,#fra_chatContainer #txtChatInput {
	background: var(--or2);
	border-radius: 20px;
	border: 2px var(--gr) solid;
	color: var(--wh);
}
#fra_chatContainer #txtChatInput {padding: .6rem;}
#main .card {background-color: transparent;}
.bg-light { background: var(--gr)!important;border-radius:25px;box-shadow:0px 0px 10px #520e2169;padding-bottom: 4px!important;color: var(--wh);}
.bg-dark { background: var(--gr)!important;margin-bottom: 7px;border-radius:20px 20px 0px 0px!important;}
img.rounded-bottom {padding:5px!important;}
.table .bottom, .table tfoot td {
	background: var(--gr);
	border-radius: 0px 0px 20px 20px;
}
select.form-control {
	background: var(--gr);
	border-radius: 20px;
	border: solid 2px var(--gr2);
	color: var(--wh);
}
select.form-control:focus {
	background: var(--gr);
	border-radius: 20px;
	border: solid 2px var(--gr2);
	color: var(--wh);
	box-shadow: none;
}
::-webkit-scrollbar {
	background: var(--gr);
	width: 7px!important;
}
::-webkit-scrollbar-thumb {
	background: var(--gr2);
	border-radius: 20px;
	width: 3px!important;
}
#footer {
	background: var(--bei);
	margin-top: 1.5em;
	color: var(--gr2)!important;
	max-width: 100%;
}
#footer a {
	color: var(--wh)!important;
}
